In [4]:
import pandas as pd

In [12]:
pipe_data = pd.read_csv('/Users/gondidi/Desktop/GSPower/HIS/data_analysis/htms_pipe_mapping/data/pipedata_24012417.csv')
node_data = pd.read_csv('/Users/gondidi/Desktop/GSPower/HIS/data_analysis/htms_pipe_mapping/data/nodedata_24012417.csv')
meta_data = pd.read_csv('/Users/gondidi/Desktop/GSPower/HIS/data_analysis/htms_pipe_mapping/data/link_node_meta.csv')

In [13]:
node_data_1700 = node_data[node_data['dt'] == 202401241700]
pipe_data_1700 = pipe_data[pipe_data['dt'] == 202401241700]

In [14]:
pipe_data_1700

,dt,link_id,flow,headloss,velocity,qloss,yy,mm,dd,hh
0,202401241700,PIPE_31018,0.00,0.0,0.00,408.794253,2024,1,24,17
1,202401241700,PIPE_30080,-0.00,0.0,0.00,866.169661,2024,1,24,17
2,202401241700,PIPE_30152,0.00,0.0,0.00,30.912133,2024,1,24,17
3,202401241700,PIPE_29968,0.00,0.0,0.00,527.752623,2024,1,24,17
4,202401241700,PIPE_29971,0.00,0.0,0.00,60.189620,2024,1,24,17
...,...,...,...,...,...,...,...,...,...,...
3765,202401241700,V_MG,0.00,0.0,0.00,0.029958,2024,1,24,17
3766,202401241700,V_GMINC,-556.53,0.0,2.19,0.027380,2024,1,24,17
3767,202401241700,V_AYtoSH,0.00,0.0,0.00,0.030216,2024,1,24,17
3768,202401241700,V_BCtoSH,0.00,0.0,0.00,0.032312,2024,1,24,17
3769,202401241700,V_SHEX,0.00,0.0,0.00,0.028117,2024,1,24,17

In [23]:
meta_data['link_id'] = meta_data['link_id'].str.strip()

In [25]:
merged_df = pd.merge(pipe_data_1700, meta_data, on=['link_id'])

In [26]:
merged_df

,dt,link_id,flow,headloss,velocity,qloss,yy,mm,dd,hh,Node1,Node2
0,202401241700,PIPE_31018,0.00,0.0,0.00,408.794253,2024,1,24,17,A1,A836
1,202401241700,PIPE_30080,-0.00,0.0,0.00,866.169661,2024,1,24,17,A2,A2044
2,202401241700,PIPE_30152,0.00,0.0,0.00,30.912133,2024,1,24,17,A5,A6
3,202401241700,PIPE_29968,0.00,0.0,0.00,527.752623,2024,1,24,17,A7,A8
4,202401241700,PIPE_29971,0.00,0.0,0.00,60.189620,2024,1,24,17,A1509,A7
...,...,...,...,...,...,...,...,...,...,...,...,...
3765,202401241700,V_MG,0.00,0.0,0.00,0.029958,2024,1,24,17,AMGPR,A3491
3766,202401241700,V_GMINC,-556.53,0.0,2.19,0.027380,2024,1,24,17,AGMtoSCR,AGMB2B
3767,202401241700,V_AYtoSH,0.00,0.0,0.00,0.030216,2024,1,24,17,A3002,A3003
3768,202401241700,V_BCtoSH,0.00,0.0,0.00,0.032312,2024,1,24,17,ASH,A3003
3769,202401241700,V_SHEX,0.00,0.0,0.00,0.028117,2024,1,24,17,A3002,AAYtoBC